# fly.toml app configuration file generated for my-jarvis-runtime-bitter-wind-2294 on 2025-12-12T17:38:54+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'my-jarvis-runtime'
primary_region = 'sjc'

[build]
  dockerfile = 'Dockerfile'

[env]
  KEEPALIVE_ENABLED = 'true'
  NODE_ENV = 'production'
  PORT = '10000'
  TERMINAL_WS_PORT = '3001'

[[mounts]]
  source = 'workspace_data'
  destination = '/home/node'

[[vm]]
  size = 'shared-cpu-1x'
  memory = '2gb'
